<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Project 1</title>
    <!-- set viewport to device width to allow responsiveness -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->

    <!-- Bootstrap JS and Bootstrap CSS from CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- VENDOR SCRIPTS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- APPLICATION SCRIPTS -->
      <!-- Google Maps API -->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2fbIpye0lBCzCdXOTodi9GkoqcOMwSzw&callback=initMap"></script>

    <script type="text/javascript" src="scripts/app.js"></script>
    <link href="styles/styles.css" type=text/css rel=stylesheet>

  </head>

  <body>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Fluid jumbotron</h1>
        <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
      </div>
    </div>

    <!-- Form start-->
    <section class="container">
         <div class="row">
         <div class="col-md-10 col-md-offset-1">

           <form id='player-form' class="form-horizontal">
             <fieldset>

               <!-- Form Name -->
               <legend>Your info</legend>

               <!-- Text input-->
               <div class="form-group">
                 <label class="col-md-4 control-label" for="name">Your name:</label>
                 <div class="col-md-4">
                 <input id="name" name="name" type="text" placeholder="Miky Mike" class="form-control input-md" required="">
                 </div>
               </div>
               <!-- Text input-->
               <div class="form-group">
                 <label class="col-md-4 control-label" for="height">Gender:</label>
                 <div class="col-md-4">
                   <input id="gender" name="gender" type="text" placeholder="female/male" class="form-control input-md">
                 </div>
               </div>
               <!-- Text input-->
               <div class="form-group">
                 <label class="col-md-4 control-label" for="yearOfBirth">Year of birth:</label>
                 <div class="col-md-4">
                 <input id="textinput" name="yearOfBirth" type="text" pattern="\d{4}" placeholder="1970" class="form-control input-md" required>
                 </div>
               </div>
               <!-- Text input-->
               <div class="form-group">
                 <label class="col-md-4 control-label" for="streetAddress">Street address</label>
                 <div class="col-md-4">
                 <input id="streetAddress" name="streetAddress" type="text" placeholder="255 Bush street" class="form-control input-md">
                 </div>
               </div>
               <!-- Text input-->
               <div class="form-group">
                 <label class="col-md-4 control-label" for="city">City</label>
                 <div class="col-md-4">
                 <input id="city" name="city" type="text" placeholder="San Francisco" class="form-control input-md">
                 </div>
               </div>
               <!-- Text input-->
               <div class="form-group">
                 <label class="col-md-4 control-label" for="zipcode">Zip code</label>
                 <div class="col-md-4">
                 <input id="zipcode" name="zipcode" type="text" placeholder="94104" class="form-control input-md">
                 </div>
               </div>
               <!-- Text input-->
               <div class="form-group">
                 <label class="col-md-4 control-label" for="Country">Country</label>
                 <div class="col-md-4">
                 <input id="Country" name="Country" type="text" placeholder="US" class="form-control input-md">
                 </div>
               </div>
               <!-- Button -->
               <div class="form-group">
                 <label class="col-md-4 control-label" for="submitButton">Submit to Save</label>
                 <div class="col-md-4">
                   <button id="submitButton" name="submitButton" class="btn btn-primary">Submit</button>
                 </div>
               </div>
             </fieldset>
           </form>
         </div>
         </div>
       </section>
    <!-- Form end-->


    <p>we need g map generated</p>


    <!--card -->

    <div class="card" style="width: 18rem;">
      <div id="indvidualMap" class="card-img-top">

      </div>
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

    <div id="floating-panel">
      <input id="address" type="textbox" value="Sydney, NSW">
      <input id="submit" type="button" value="Geocode">
    </div>


    <div id="map-container" style="width: 100%; height: 100%">

    <div id="map"></div>
    <hr>
    </div>


    <script>
      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 8,
          center: {lat: -34.397, lng: 150.644}
        });
        var geocoder = new google.maps.Geocoder();

        document.getElementById('submit').addEventListener('click', function() {
          geocodeAddress(geocoder, map);
        });
      }

      function geocodeAddress(geocoder, resultsMap) {
        var address = document.getElementById('address').value;
        geocoder.geocode({'address': address}, function(results, status) {
          if (status === 'OK') {
            resultsMap.setCenter(results[0].geometry.location);
            var marker = new google.maps.Marker({
              map: resultsMap,
              position: results[0].geometry.location
            });
          } else {
            alert('Geocode was not successful for the following reason: ' + status);
          }
        });
      }
    </script>












    <!-- test end map -->
    <!-- map fields populate here  -->
        <section class="container">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <h2></h2>
            </div>
          </div>
          <!-- individualMaps -->






  </body>
</html>
