
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Project 1</title>
    <!-- set viewport to device width to allow responsiveness -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->

    <!-- Bootstrap JS and Bootstrap CSS from CDN -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
    <!-- VENDOR SCRIPTS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
      <!-- Google Maps API -->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2fbIpye0lBCzCdXOTodi9GkoqcOMwSzw"></script>

    <script type="text/javascript" src="scripts/app.js"></script>
    <link href="styles/styles.css" type=text/css rel=stylesheet>

  </head>

  <body>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">People's   Locations</h1>
        <!-- Form start-->
        <section class="container">
             <div class="row">
             <div class="col-md-10 col-md-offset-1">

               <form id='personData-form' class="form-horizontal">
                 <fieldset>

                   <!-- Form Name -->
                   <legend>Your info</legend>

                   <!-- Text input-->
                   <div class="form-group">
                     <label class="col-md-4 control-label" for="name">Your name:</label>
                     <div class="col-md-4">
                     <input id="name" name="name" type="text" placeholder="Rocky Balboa" class="form-control input-md" ="">
                     </div>
                   </div>
                   <!-- Text input-->
                   <div class="form-group">
                     <label class="col-md-4 control-label" for="gender">Gender:</label>
                     <div class="col-md-4">
                       <input id="gender" name="gender" type="text" placeholder="female/male" class="form-control input-md">
                     </div>
                   </div>
                   <!-- Text input-->
                   <div class="form-group">
                     <label class="col-md-4 control-label" for="yearOfBirth">Year of birth:</label>
                     <div class="col-md-4">
                     <input id="textinput" name="yearOfBirth" type="text" pattern="\d{4}" placeholder="1970" class="form-control input-md" >
                     </div>
                   </div>
                   <!-- Text input-->
                   <div class="form-group">
                     <label class="col-md-4 control-label" for="streetAddress">Street address</label>
                     <div class="col-md-4">
                     <input id="streetAddress" name="streetAddress" type="text" placeholder="255 Bush street" class="form-control input-md">
                     </div>
                   </div>
                   <!-- Text input-->
                   <div class="form-group">
                     <label class="col-md-4 control-label" for="city">City</label>
                     <div class="col-md-4">
                     <input id="city" name="city" type="text" placeholder="San Francisco" class="form-control input-md">
                     </div>
                   </div>
                   <!-- Text input-->
                   <div class="form-group">
                     <label class="col-md-4 control-label" for="zipcode">Zip code</label>
                     <div class="col-md-4">
                     <input id="zipcode" name="zipcode" type="text" placeholder="94104" class="form-control input-md">
                     </div>
                   </div>
                   <!-- Text input-->
                   <div class="form-group">
                     <label class="col-md-4 control-label" for="Country">Country</label>
                     <div class="col-md-4">
                     <input id="country" name="country" type="text" placeholder="US" class="form-control input-md" required>
                     </div>
                   </div>
                   <!-- Button -->
                   <div class="form-group">
                     <label class="col-md-4 control-label" for="submitButton">Submit to Save</label>
                     <div class="col-md-4">
                       <button id="submitButton" class="submitButton" name="submitButton" class="btn btn-primary">Submit</button>
                     </div>
                   </div>
                 </fieldset>
               </form>
             </div>
             </div>
           </section>
        <!-- Form end-->
      </div>
    </div>




    <!--card map combo-->

    <div id="map-container" style="width: 100%; height: 100%"><!--append happens here--></div>
    <!--card map combo end-->


    <!-- Modal -->
    <div class="modal fade" id="modal-container" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <!-- <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div> -->
          <div class="modal-body">
            <form id='modal-personData-form' class="form-horizontal">
              <fieldset>

                <!-- Form Name -->
                <!-- <legend>Your info</legend> -->
                <!-- Text input-->
                <div class="form-group">
                  <div class="col-md-4">
                  <span id="modal-id"></span>
                  </div>
                </div>
                <!-- Text input-->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="modal-name">Your name:</label>
                  <div class="col-md-4">
                  <input id="modal-name" name="name" type="text" placeholder="Rocky Balboa" class="form-control input-md" ="">
                  </div>
                </div>
                <!-- Text input-->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="modal-gender">Gender:</label>
                  <div class="col-md-4">
                    <input id="modal-gender" name="gender" type="text" placeholder="female/male" class="form-control input-md">
                  </div>
                </div>
                <!-- Text input-->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="modal-yearOfBirth">Year of birth:</label>
                  <div class="col-md-4">
                  <input id="modal-yearOfBirth" name="yearOfBirth" type="text" pattern="\d{4}" placeholder="1970" class="form-control input-md" >
                  </div>
                </div>
                <!-- Text input-->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="modal-streetAddress">Street address</label>
                  <div class="col-md-4">
                  <input id="modal-streetAddress" name="streetAddress" type="text" placeholder="255 Bush street" class="form-control input-md">
                  </div>
                </div>
                <!-- Text input-->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="modal-city">City</label>
                  <div class="col-md-4">
                  <input id="modal-city" name="city" type="text" placeholder="San Francisco" class="form-control input-md">
                  </div>
                </div>
                <!-- Text input-->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="modal-zipcode">Zip code</label>
                  <div class="col-md-4">
                  <input id="modal-zipcode" name="zipcode" type="text" placeholder="94104" class="form-control input-md">
                  </div>
                </div>
                <!-- Text input-->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="modal-country">Country</label>
                  <div class="col-md-4">
                  <input id="modal-country" name="country" type="text" placeholder="US" class="form-control input-md" required>
                  </div>
                </div>
                <!-- Button -->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="modal-submitButton"></label>
                  <div class="col-md-4">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="modal-saveButton" class="btn btn-secondary" name="submitButton" class="btn btn-primary">Save</button>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
