<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Project 1</title>
    <!-- set viewport to device width to allow responsiveness -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->

    <!-- Bootstrap JS and Bootstrap CSS from CDN -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <!-- VENDOR SCRIPTS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
      <!-- Google Maps API -->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2fbIpye0lBCzCdXOTodi9GkoqcOMwSzw"></script>

    <script type="text/javascript" src="scripts/app.js"></script>
    <link href="styles/styles.css" type=text/css rel=stylesheet>

  </head>

  <body>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Fluid jumbotron</h1>
        <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
      </div>
    </div>

    <!-- Form start-->
    <section class="container">
         <div class="row">
         <div class="col-md-10 col-md-offset-1">

           <form id='personData-form' class="form-horizontal">
             <fieldset>

               <!-- Form Name -->
               <legend>Your info</legend>

               <!-- Text input-->
               <div class="form-group">
                 <label class="col-md-4 control-label" for="name">Your name:</label>
                 <div class="col-md-4">
                 <input id="name" name="name" type="text" placeholder="Miky Mike" class="form-control input-md" ="">
                 </div>
               </div>
               <!-- Text input-->
               <div class="form-group">
                 <label class="col-md-4 control-label" for="height">Gender:</label>
                 <div class="col-md-4">
                   <input id="gender" name="gender" type="text" placeholder="female/male" class="form-control input-md">
                 </div>
               </div>
               <!-- Text input-->
               <div class="form-group">
                 <label class="col-md-4 control-label" for="yearOfBirth">Year of birth:</label>
                 <div class="col-md-4">
                 <input id="textinput" name="yearOfBirth" type="text" pattern="\d{4}" placeholder="1970" class="form-control input-md" >
                 </div>
               </div>
               <!-- Text input-->
               <div class="form-group">
                 <label class="col-md-4 control-label" for="streetAddress">Street address</label>
                 <div class="col-md-4">
                 <input id="streetAddress" name="streetAddress" type="text" placeholder="255 Bush street" class="form-control input-md">
                 </div>
               </div>
               <!-- Text input-->
               <div class="form-group">
                 <label class="col-md-4 control-label" for="city">City</label>
                 <div class="col-md-4">
                 <input id="city" name="city" type="text" placeholder="San Francisco" class="form-control input-md">
                 </div>
               </div>
               <!-- Text input-->
               <div class="form-group">
                 <label class="col-md-4 control-label" for="zipcode">Zip code</label>
                 <div class="col-md-4">
                 <input id="zipcode" name="zipcode" type="text" placeholder="94104" class="form-control input-md">
                 </div>
               </div>
               <!-- Text input-->
               <div class="form-group">
                 <label class="col-md-4 control-label" for="Country">Country</label>
                 <div class="col-md-4">
                 <input id="Country" name="Country" type="text" placeholder="US" class="form-control input-md">
                 </div>
               </div>
               <!-- Button -->
               <div class="form-group">
                 <label class="col-md-4 control-label" for="submitButton">Submit to Save</label>
                 <div class="col-md-4">
                   <button id="submitButton" name="submitButton" class="btn btn-primary">Submit</button>
                 </div>
               </div>
             </fieldset>
           </form>
         </div>
         </div>
       </section>
    <!-- Form end-->




    <!--card map combo-->

    <div id="map-container" style="width: 100%; height: 100%"><!--append happens here--></div>
    <!--card map combo end-->

  </body>
</html>
