.jumbotron {
  background-image: url(../images/globes01.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #EEE;
}

.jumbotron .container {
  height: 350px;
}

.inline-header {
  display: inline-block;
  vertical-align: baseline;
  margin-right: 12px;
}

.jumbotron .h1, .jumbotron h1 {
    color: #B4B7BA;
}
