.jumbotron {
  background-image: url(../images/satellite.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #EEE;
}

.jumbotron .container {
  height: 60em;
}

.inline-header {
  display: inline-block;
  vertical-align: baseline;
  margin-right: 12px;
}

.jumbotron .h1, .jumbotron h1 {
    /* color: #B4B7BA; */
    color: black;
}


#map {
  height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* end map */

Button {
  color: #fff;
  background-color: #000;
  border: #fff solid 2px;
  height: 2.5em;
  width: : 4em;
}

h1.display-4 {
  text-align: center;
  font-size: 6em;
  padding-top: 2em;
  padding-bottom: 1em;
  text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;

}

p{
  text-align: center;
  font-size: 2em;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

legend{
  border-bottom: solid black 1px;
  text-align: center;
}

body {
  /* background-color: gold; */
  background-image: url(../images/satellite0.jpg);
  height: 100vh;
}

.mapo{
   position: absolute;
   overflow: visible;
   left:20%;

}

.item{
 position: relative;
 left: 50%;
 margin-bottom: 90px;
 width:50%;
 height:80%;
}
fieldset{
  margin-bottom: 30px;
}

label {
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  font-size: 1,5em;
  color: black;
}

legend {
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  font-size: 2em;
}

.list-group-item {
  font-size: 1.3em;
}
